<div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngFor="let experience of privateArea.experiences">
        <a class="card">

            <div class="front" [ngStyle]="{ 'background-image': 'url(' + experience.image1 + ')' }">
                <p class="text-break">{{ experience.name }}</p>
            </div>

            <div class="back">
                <div>
                    <h1>{{ experience.title }}</h1>
                    <p>{{ experience.description }}</p>
                    <hr />
                    <p class="prices">€ {{ experience.price }}</p>
                    <p class="quantity">
                        CANTIDAD
                        <span class="fa fa-angle-left angle" (click)="substractQuantity(experience)"></span>
                        <span id="qt">{{ experience.quantity }}</span>
                        <span class="fa fa-angle-right angle" (click)="addQuantity(experience)"></span>
                    </p>
                    <textarea #ngmodel="ngModel" [(ngModel)]="experience.comments" class="form-control mb-3" type="text" placeholder="Indica detalles importantes para tu reserva... ">{{ experience.comments }}</textarea>
                    <button class="button mb-0" (click)="addOrder(experience, ngmodel)">
                        <i class="fa fa-shopping-cart"></i> Seleccionar
                    </button>
                </div>
            </div>
        </a>
    </div>
</div>