nav {
    position: absolute;
    height: 100vh;
}

main {
    margin-left: 60px;
    height: 100%;
}

aside {
    position: fixed;
    width: 180px;
    right: 130px;
    float: right;
}

.sticky {
    top: 0;
}