<div class="content">
    <div class="form_data align-content-center">
        <form class="p-5" [formGroup]="updateProfileForm" [snMarkAsTouched]="updateProfileForm">
            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" type="text" formControlName="fullName" placeholder="Tu nombre..." />
                <sn-validation-messages [control]="updateProfileForm.get('fullName')"></sn-validation-messages>
            </div>

            <div class="form-group mt-5">
                <label>Email</label>
                <input class="email-not-modif form-control" type="text" formControlName="email" readonly />
            </div>
        </form>
    </div>
    <div class="pt-2 form_butt">
        <div>
            <button (click)="updateProfile()" class="m-2" type="submit"><i class="far fa-save"></i> Actualizar</button>
        </div>
        <!-- Se permite borrar al usuario si no tiene reservas pendientes ni reservas procesadas -->
        <div *ngIf="bookingService.bookings.length == 0 && bookingConfirmedService.bookings.length == 0">
            <button (click)="deleteProfile()" class="m-2" type="submit"><i class="far fa-trash-alt"></i> Borrar user</button>
        </div>
    </div>
</div>