nav {
    background-color: #f6f5f7;
    color: #FF6f61;
    font-size: 23px;
}

img {
    height: 52px;
    width: 52px;
    vertical-align: center;
}

nav p {
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
}