nav {
    background-color: #f6f5f7;
    color: #ff6f61;
    font-size: 23px;
    border: none;
    cursor: pointer !important;
    &:focus {
        outline: none;
    }
}

img {
    height: 52px;
    width: 52px;
    vertical-align: center;
}

nav p {
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    margin-top: 15px;
    margin-left: 10px;
}