.button {
    background: transparent;
    &:before {
        box-shadow: 0 0 10px 10px rgba(#ff6f61, 0.25);
        background-color: rgba(#ff6f61, 0.25);
    }
}

button.btn {
    border: none;
}

.badge {
    float: right;
    font-size: 20px;
    left: -40px;
    top: -10px;
}

.fa {
    font-size: 60px;
    &:hover {
        color: #ff6f61;
    }
}