nav {
    background-color: #212121;
    color: #fff;
    font-size: 15px;
}

nav p {
    font-family: "Montserrat", cursive;
    letter-spacing: 0.7px;
    margin: 8px 0;
}

nav span {
    font-weight: bold;
}

nav a {
    color: #ff6f61;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
    text-decoration: none;
}

nav i {
    color: #ff6f61;
}

.z-5000 {
    z-index: 5000;
}