:host {
    display: block;
    #toast-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        min-width: 300px;
        max-width: 450px;
        font-family: Montserrat;
        color: whitesmoke;
        z-index: 1000;
    }
}