<div class="conta_null animated fadeIn" *ngIf="bookingConfirmedService.bookings.length == 0">
    <h3 class="text-center mt-5">NO TIENE RESERVAS CONFIRMADAS</h3>
    <p class="text-center w-75 mt-4">Cuando haya elegido su experiencia, haga click en "Seleccionar" para añadir a su cesta antes de confirmar definitivamente</p>
    <i class="cesta fa fa-shopping-cart m-5"></i>
    <button routerLink="/private-area"><i class="fa fa-table"></i> Experiencias</button>
</div>

<div class="container animated fadeIn" *ngIf="bookingConfirmedService.bookings.length !== 0">
    <h2 class="text-center mt-5">RESERVAS CONFIRMADAS</h2>
    <div class="card p-2 m-3" *ngFor="let booking of bookingConfirmedService.bookings">
        <div class="title">
            <h1>{{booking.title}}</h1>
            <i class="fas fa-comment-dots"></i>
            <textarea class="p_comments pl-4 mx-auto" *ngIf="booking.comments !== '' " readonly>{{ booking.comments }}
                </textarea>
            <!-- <p class="p_commentsmx-auto" *ngIf="booking.comments !== '' ">"{{booking.comments}}"<i class="fas fa-comment-dots"></i></p> -->
        </div>
        <div class="dates">
            <ul>
                <li>{{booking.units}}<i class="fas fa-users"></i></li>
                <li>{{booking.price}} €<i class="fas fa-euro-sign"></i></li>
                <li>{{booking.confirmedAt | date:' dd-MMM-yyyy - HH:mm:ss ' : 'navigator.languaje' }}<i class="far fa-calendar-alt"></i></li>
            </ul>
        </div>
    </div>
</div>