<div *ngIf="bookingConfirmedService.bookings.length == 0">
    <h2 class="text-center mt-5">NO TIENE RESERVAS CONFIRMADAS</h2>

    <img src="../../../../assets/images/cinemagraph.gif" alt="404 image" />
</div>

<div *ngIf="bookingConfirmedService.bookings.length !== 0">
    <h2 class="text-center mt-5">RESERVAS CONFIRMADAS</h2>
    <table class="table table-striped p-4">
        <thead>
            <tr>
                <!-- <th scope="col">Id. Order</th> -->
                <!-- <th scope="col">Id. Usuario</th>-->
                <!-- <th scope="col">Id. Experiencia</th> -->
                <th scope="col">Descripción</th>
                <th scope="col">Unidades</th>
                <th scope="col">Precio</th>
                <th scope="col">Comentarios</th>
                <th scope="col">Fecha de confirmación</th>
            </tr>
        </thead>
        <tbody *ngFor="let booking of bookingConfirmedService.bookings">
            <tr>
                <!-- <td>{{ booking.idOrder }}</td> -->
                <!-- <th scope="row">{{ booking.idUser }}</th>-->
                <!-- <td>{{ booking.idExperience }}</td> -->
                <td>{{ booking.title }}</td>
                <td class="text-center">{{ booking.units }}</td>
                <td>{{ booking.price }}</td>
                <td class="font-italic">{{ booking.comments }}</td>
                <td>{{ booking.confirmedAt | date:' dd-MMM-yyyy - HH:mm:ss ' : 'navigator.languaje' }}</td>
            </tr>
        </tbody>
    </table>
</div>