*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 15px auto;
    align-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background: #ff6f61;
    box-shadow: 0 12px 15px 0 rgba(128, 128, 128, .7), 0 17px 17px 0 rgba(128, 128, 128, .5);
}

.title {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.dates {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.but_rounded {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0 1%;
}

li {
    margin: 1%;
    padding: 2px 2px 2px 24px;
    border: 2px solid #ff6f61;
    border-radius: 4px;
    position: relative;
    text-align: left;
    color: #000;
    background: #fff;
}

.fa[class~="angle"] {
    font-size: 1.3rem;
    position: relative;
    top: 0.15rem;
    margin: 0 20px;
    cursor: pointer;
    color: rgb(156, 156, 156);
    transition: all 0.5s;
    &:hover {
        color: #ff6f61;
    }
}

.price,
.date {
    cursor: not-allowed;
}

.far,
.fas {
    position: absolute;
    top: -1px;
    left: -10px;
    width: 30px;
    height: 30px;
    background: #ff6f61;
    color: #fff;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.fa-comment-dots {
    position: absolute;
    top: 54px;
    left: 18px;
    z-index: 5;
    @media (max-width: 1024px) and (orientation: portrait) {
        //ipad vertical
        top: 57px;
        left: 5px;
    }
    @media (max-width: 1024px) and (orientation: landscape) {
        // ipad horizontal
        top: 52px;
        left: 12px;
    }
    @media (min-width: 1024px) and (max-width:1366px) {
        // ipad-pro vertical
        top: 53px;
        left: 15px;
    }
    @media (min-width: 1366px) and (orientation: landscape) {
        // ipad-pro horizontal
        top: 55px;
        left: 28px;
    }
    @media (min-width: 1440px) {
        // pc
        top: 55px;
        left: 37px;
    }
}

.fa-check-circle {
    position: relative;
    font-size: 1.8rem;
    cursor: pointer;
    &:hover {
        color: #33CC00;
    }
}

.fa-trash-alt {
    position: relative;
    font-size: 1.8rem;
    cursor: pointer;
    &:hover {
        color: #000;
    }
}

h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

textarea {
    display: block;
    position: relative;
    resize: none;
    height: 50%;
    width: 80%;
    cursor: text;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    font-style: italic;
    letter-spacing: 2px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    padding: 2px 2px 2px 24px;
    margin: 8px;
    overflow-y: scroll;
}

.conta_null {
    width: 70%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cesta {
    font-size: 8rem;
    color: lightgray;
}