// $primary: hsl(222, 80%, 50%);
// $primary-light: hsl(222, 50%, 95%);
// $secondary: hsl(350, 80%, 50%);
// $red: hsl(10, 80%, 50%);
// $orange: hsl(50, 80%, 50%);
*,
*:before,
*:after {
    box-sizing: border-box;
}

// tr {
//     border-color: #ff6f61;
//     background-color: #fff;
// }
thead {
    // color: #ff6f61;
    font-size: 1.2rem;
}

.fa[class~="angle"] {
    font-size: 1.3rem;
    position: relative;
    top: 0.15rem;
    margin: 0 20px;
    cursor: pointer;
    color: rgb(216, 216, 216);
    transition: all 0.5s;
    &:hover {
        color: #ff6f61;
    }
}

.fas {
    font-size: 1.8rem;
}

.fa-check-circle {
    color: #33CC00;
    &:hover {
        color: #006600;
    }
}

.fa-trash-alt {
    color: red;
    &:hover {
        color: #990000;
    }
}

textarea {
    display: block;
    resize: none;
    width: 100%;
    // height: calc(1.5em + 0.75rem + 6px);
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}