<div class="conta_null animated fadeIn" *ngIf="bookingService.bookings.length == 0">
    <h3 class="text-center mt-5">NO TIENE RESERVAS PENDIENTES PARA CONFIRMAR</h3>
    <p class="w-75 mt-4 text-center">Cuando haya elegido su experiencia, haga click en "Seleccionar" para añadir antes de confirmar definitivamente</p>
    <i class="cesta fa fa-shopping-cart m-5"></i>
    <button routerLink="/private-area"><i class="fa fa-table"></i> Experiencias</button>
</div>


<div class="container animated fadeIn" *ngIf="bookingService.bookings.length !== 0">
    <h2 class="text-center mt-5">RESERVAS PENDIENTES DE CONFIRMAR</h2>
    <h5 class="text-center">Compruebe...confirme o elimine de su cuenta:</h5>

    <div class="card mt-3" *ngFor="let booking of bookingService.bookings">
        <div class="title">
            <h1>{{booking.title}}</h1>
            <i class="fas fa-comment-dots"></i>
            <!-- <textarea class="mx-auto" *ngIf="booking.comments !== '' " (keyup)="updateBookingComments(booking, $event)">
                {{ booking.comments }}
            </textarea> -->
            <textarea class="mx-auto" *ngIf="booking.comments !== '' " (keyup)="updateBookingComments(booking, $event)">{{ booking.comments }}</textarea>
        </div>

        <div class="dates">
            <ul>
                <li>
                    <span class="fa fa-angle-left angle" (click)="substractQuantity(booking)"></span>
                    <span id="qt">{{ booking.units }}</span>
                    <span class="fa fa-angle-right angle" (click)="addQuantity(booking)"></span>
                    <i class="fas fa-users"></i>
                </li>
                <li class="price pl-5">{{booking.price}} €<i class="fas fa-euro-sign"></i></li>
                <li class="date pl-5">{{booking.orderDate | date:' dd-MMM-yyyy - HH:mm:ss ' : 'navigator.languaje' }}<i class="far fa-calendar-alt"></i></li>
            </ul>
        </div>

        <div class="but_rounded">
            <i class="fas fa-check-circle mb-2 ml-2" (click)="updateOrder(booking.idOrder, booking.units, booking.comments)" title="Confirmar"></i>
            <i class="fas fa-trash-alt mt-2 ml-2" (click)="deleteOrder(booking.idOrder)" title="Eliminar"></i>
        </div>
    </div>
</div>