<div class="bg-white h-100">
    <div class="comment text-center mt-3">
        <h1>Page not found!</h1>
    </div>
    <div class="container text-center mt-3 mb-3">
        <img src="../../../../assets/images/404.png" alt="404 image" />
    </div>
    <div class="buttons mb-2">
        <div class="but" routerLink="/private-area">
            <i class="fas fa-user-lock"></i>
            <button class="m-2"> Mi área privada</button>
        </div>
        <div class="but" routerLink="/welcome">
            <i class="fas fa-sign-in-alt"></i>
            <button class="m-2"> Login / Register</button>
        </div>
        <div class="but" routerLink="/about">
            <i class="fas fa-user-circle"></i>
            <button class="m-2"> About</button>
        </div>
    </div>
</div>