@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie");
:host {
    background: #f6f5f7;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 550px;
    max-width: 800px;
    min-width: 800px;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #000;
}

a {
    font-weight: 800;
    font-size: 1.5rem;
    color: #ff6f61;
    text-decoration: none;
    &:hover {
        color: #000;
        text-decoration: none;
    }
}

div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.but {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin-right: 5rem;
    width: 45%;
}

.fas {
    font-size: 40px;
    &:hover {
        color: #ff6f61;
    }
}

button {
    width: 180px;
}