h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #000;
}

a {
    font-weight: 800;
    font-size: 1.5rem;
    color: #ff6f61;
    text-decoration: none;
    &:hover {
        color: #000;
        text-decoration: none;
    }
}

div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.but {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin-right: 5rem;
    width: 45%;
}

.fas {
    font-size: 40px;
    &:hover {
        color: #ff6f61;
    }
}