button {
    border: none;
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
}

.fa-phone-volume {
    font-size: 75px;
    color: #000;
    &:hover {
        color: #ff6f61;
    }
}